<ion-content class="ion-padding">
  <h2>Crear cuenta</h2>

  <ion-item>
    <ion-input label="Nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellido" [(ngModel)]="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Email" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
  <ion-item lines="none">
  <ion-label>Tipo de cuenta</ion-label>
</ion-item>

<div class="rol-selector">
  <ion-button
    [fill]="rol === 'solicitante' ? 'solid' : 'outline'"
    (click)="seleccionarRol('solicitante')">
    Solicitante
  </ion-button>

  <ion-button
    [fill]="rol === 'staff' ? 'solid' : 'outline'"
    (click)="seleccionarRol('staff')">
    Staff
  </ion-button>
</div>
</ion-item>

  <ion-item>
    <ion-input label="Contraseña" type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Confirmar contraseña" type="password" [(ngModel)]="confirmarContrasena"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="error">
    <p>{{ error }}</p>
  </ion-text>

  <ion-button expand="block" (click)="registrarse()" [disabled]="cargando">
    {{ cargando ? 'Creando cuenta...' : 'Registrarse' }}
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/login">
    ¿Ya tienes cuenta? Inicia sesión
  </ion-button>
</ion-content>
