<!-- src/app/docente/escanear-qr/escanear-qr.page.html -->

<ion-header class="header-transparente">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-docente" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ============================= -->
  <!-- ESCÁNER WEB -->
  <!-- ============================= -->
  <div class="video-container" *ngIf="escaneandoWeb">
    <div class="video-wrapper">
      <video #videoElement autoplay muted playsinline></video>
      <div class="scan-frame"></div>
    </div>

    <p class="hint-text">Centra el código QR dentro del recuadro</p>

    <ion-button class="btn-cancelar" fill="outline" (click)="detenerEscaneoWeb()">
      Cancelar escaneo
    </ion-button>
  </div>

  <!-- ============================= -->
  <!-- ESTADO INICIAL -->
  <!-- ============================= -->
  <div class="contenido-central" *ngIf="!escaneandoWeb">

    <div class="qr-icon">
      <img src="assets/img/camara-logo.png" alt="Escanear QR">
    </div>

    <h1>Escanear sala</h1>

    <p class="descripcion">
      Apunta la cámara al código QR de la sala para identificar su ubicación.
    </p>

    <ion-button class="btn-principal" expand="block" (click)="escanear()" [disabled]="buscando">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      {{ buscando ? 'Buscando sala...' : 'Escanear con cámara' }}
    </ion-button>

    <ion-text class="mensaje-error" color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>

    <div class="separador"><span>o</span></div>

    <div class="codigo-manual">
        <div class="campo-manual">
          <label class="campo-label">Código de sala</label>
          <ion-input
            fill="outline"
            [(ngModel)]="codigoManual"
            placeholder="Ej. a3f9c21b8e4d6f10">
          </ion-input>
        </div>

      <ion-button class="btn-manual" expand="block" fill="outline" (click)="buscarManual()" [disabled]="buscando">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        Buscar por código
      </ion-button>
    </div>

  </div>

</ion-content>
